{% extends "base.html" %}

{% block titulo %} Inicio {% endblock %}

{% block contenido %} 

<div class="row align-items-md-stretch">
    <div class="col-md-6">
        <div
            class="h-100 p-5 text-black bg-default border rounded-3">
            <h2>Bienvenido al crud de peliculas</h2>
            <p>Ingresemos algunas peliculas.</p>
            <p class="lead">
                <a class="btn btn-primary btn-lg" href="/peliculas">Empezar</a>
            </p>
        </div>
    </div>
</div>

{% endblock %}